/* The original design is from https://symu.co/freebies/templates-4/westa-psd-template-and-mobile-app/
**Every single line of code is by me.** Every aspect of the implementation, solution etc.
Check me out at https://github.com/rain-light/
Repo link https://github.com/rain-light/westa */
/* COLORS */
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: calc((0.0031319356168835 * 100vw) + 5.9865946249801px);
  /*
        1920, 12
        1520, 10.75
        1120, 9.5
        729, 8.25
        320, 7
    */
  /* This curve has a medium of 9.5px and is an experimental attempt
    to make the root font size fluidly responsive instead of making
    it change with media queries at certain breakpoints. */
}

body {
  font-size: 1.6rem;
  font-family: 'Metropolis', sans-serif;
  color: #2D3B3E;
}

.heading-1 {
  color: #fff;
  font-weight: 300;
  font-size: 5rem;
}

.heading-6 {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 300;
}

.text-primary {
  color: transparent;
  background-image: -webkit-gradient(linear, left top, right top, from(#BFE428), to(#15D0AC));
  background-image: linear-gradient(to right, #BFE428, #15D0AC);
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: 700;
}

/* Font weight classes */
.u-text-100 {
  font-weight: 100 !important;
}

.u-text-300 {
  font-weight: 300 !important;
}

.u-text-700 {
  font-weight: 700 !important;
}

.u-text-900 {
  font-weight: 900 !important;
}

/* LOGO COMPONENT */
.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16.5rem;
}

.logo__image {
  max-width: 3.5rem;
}

.logo__text {
  color: #fff;
  font-size: 2rem;
}

.logo--black .logo__text {
  color: #000;
}

/* SEPARATOR COMPONENT */
.separator {
  width: 1px;
  height: 1.6rem;
  background-color: #7D7C78;
  margin: 0 2.5rem;
}

/* PHONE NUMBER */
.phone-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 12rem;
  font-size: 1.4rem;
}

.phone-number__text {
  color: #fff;
}

.phone-number--black .phone-number__text {
  color: #000;
}

/* SLIDER */
.slider {
  width: 10rem;
  height: 10rem;
  border: 1px solid;
  border-color: #15D0AC #7D7C78 #7D7C78 #7D7C78;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__numbers {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.slider__current {
  color: #15D0AC;
  font-size: 3.5rem;
  font-weight: 300;
}

.slider__total {
  color: #fff;
}

.cards {
  position: relative;
  bottom: 7rem;
}

@media only screen and (max-width: 37.5em) {
  .cards {
    bottom: auto;
  }
}

.cards__card {
  width: 40rem;
  height: 16rem;
  -webkit-box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 5rem rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: #fff;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 56.25em) {
  .cards__card {
    width: 30rem;
    height: 14rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .cards__card {
    width: 40rem;
    margin: 4rem auto;
    position: relative;
    left: auto !important;
    -webkit-transform: none !important;
            transform: none !important;
  }
}

.cards__card--1 {
  left: 50%;
  -webkit-transform: translateX(-125%);
          transform: translateX(-125%);
  background-image: url(/img/westa-support-program.png);
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: 34% 30%;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .cards__card--1 {
    background-position: 45% 30%;
  }
}

@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .cards__card--1 {
    -webkit-transform: translateX(-130%);
            transform: translateX(-130%);
  }
}

@media only screen and (min-width: 37.5em) {
  .cards__card--1 span {
    position: relative;
    right: 15%;
  }
}

.cards__card--2 {
  height: 20rem;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  z-index: 1;
  top: -55%;
}

.cards__card--2 .btn {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
}

.cards__card--3 {
  left: 50%;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  background-image: url(/img/explore-the-way.png);
  background-size: 57%;
  background-repeat: no-repeat;
  background-position: 67% 46%;
  overflow: hidden;
}

@media only screen and (max-width: 37.5em) {
  .cards__card--3 {
    background-position: 49% 46%;
  }
}

@media only screen and (min-width: 37.5em) and (max-width: 56.25em) {
  .cards__card--3 {
    -webkit-transform: translateX(30%);
            transform: translateX(30%);
  }
}

@media only screen and (min-width: 37.5em) {
  .cards__card--3 span {
    position: relative;
    left: 15%;
  }
}

.cards__card--2 .cards__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  bottom: 2%;
}

.cards__card--2 .cards__content .cards__image {
  width: 20%;
}

.cards__card--2 .cards__content .cards__big-heading {
  margin: 1.5rem 0 .5rem 0;
}

.cards__heading, .cards__subheading, .cards__big-heading {
  display: block;
  text-align: center;
}

.cards__big-heading {
  font-size: 2.3rem;
  font-weight: 700;
}

.cards__heading {
  font-weight: 700;
}

.cards__subheading {
  font-weight: 300;
  font-size: 1.4rem;
}

.cards__line {
  width: 100%;
  height: 3px;
  background-image: -webkit-gradient(linear, left top, right top, from(#BFE428), to(#15D0AC));
  background-image: linear-gradient(to right, #BFE428, #15D0AC);
  position: absolute;
  bottom: 0;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
  font-size: 1.4rem;
  padding: 1.2rem 4.5rem;
  border-radius: 30px;
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  position: relative;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#BFE428), to(#15D0AC));
  background-image: linear-gradient(to right, #BFE428, #15D0AC);
}

.btn--primary::after, .btn--primary::before,
.btn--primary:link::after,
.btn--primary:link::before,
.btn--primary:visited::after,
.btn--primary:visited::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: opacity .4s;
  transition: opacity .4s;
}

.btn--primary::before,
.btn--primary:link::before,
.btn--primary:visited::before {
  background-image: -webkit-gradient(linear, left top, right top, from(#BFE428), to(#15D0AC));
  background-image: linear-gradient(to right, #BFE428, #15D0AC);
  opacity: 1;
}

.btn--primary::after,
.btn--primary:link::after,
.btn--primary:visited::after {
  background-image: -webkit-gradient(linear, right top, left top, from(#BFE428), to(#15D0AC));
  background-image: linear-gradient(to left, #BFE428, #15D0AC);
  opacity: 0;
}

.btn--primary:hover::before,
.btn--primary:link:hover::before,
.btn--primary:visited:hover::before {
  opacity: 0;
}

.btn--primary:hover::after,
.btn--primary:link:hover::after,
.btn--primary:visited:hover::after {
  opacity: 1;
}

.btn--transparent,
.btn--transparent:link,
.btn--transparent:visited {
  border: 1px solid #7D7C78;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.icon--gray {
  fill: #A7A7A5;
}

.header {
  height: 60rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img/header-small.png);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/header-small.png);
  background-size: cover;
  background-position: center 70%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), only screen and (min-resolution: 192dpi) and (min-width: 37.5em), (min-width: 125em) {
  .header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(/img/header.png);
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/header.png);
  }
}

.header__content {
  width: 80%;
  margin: 10rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 37.5em) {
  .header__content {
    margin: 4rem auto;
  }
}

.header__text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 70%;
          flex: 0 0 70%;
}

.header__text .heading-6 {
  margin: 3rem 0;
}

.header__slider {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10rem;
          flex: 0 0 10rem;
}

.navigation {
  padding: 4rem;
  border-bottom: 1px solid #7D7C78;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 100em) {
  .navigation .separator,
  .navigation .phone-number {
    display: none;
  }
}

.navigation__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 79.375em) {
  .navigation__mobile {
    display: none;
  }
}

.navigation__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 79.375em) {
  .navigation__list {
    display: none;
  }
}

.navigation__element {
  margin: 0 1.5rem;
}

.navigation__link, .navigation__link:link, .navigation__link:visited {
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.navigation__link:hover, .navigation__link:link:hover, .navigation__link:visited:hover {
  color: #15D0AC;
}

.navigation__link--highlighted, .navigation__link--highlighted:link, .navigation__link--highlighted:visited {
  color: #15D0AC;
}

.navigation__link--highlighted:hover, .navigation__link--highlighted:link:hover, .navigation__link--highlighted:visited:hover {
  color: #BFE428;
}

.navigation__search {
  margin: 0 2rem;
  cursor: pointer;
}

.navigation__buttons {
  width: 32rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 37.5em) {
  .navigation__search, .navigation__buttons {
    display: none;
  }
}

/* MOBILE NAV */
.mobile {
  position: relative;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  -webkit-transition: visibility 0s .5s, opacity 0s .5s, -webkit-transform .3s .2s ease-in-out;
  transition: visibility 0s .5s, opacity 0s .5s, -webkit-transform .3s .2s ease-in-out;
  transition: visibility 0s .5s, opacity 0s .5s, transform .3s .2s ease-in-out;
  transition: visibility 0s .5s, opacity 0s .5s, transform .3s .2s ease-in-out, -webkit-transform .3s .2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__checkbox {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}

.mobile__label {
  cursor: pointer;
}

.mobile .mobile__label {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 5%;
  right: 5%;
}

.mobile__hamburger {
  width: 65px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__hamburger-line {
  width: 16px;
  height: 2px;
  background-color: #fff;
  position: relative;
}

.mobile__hamburger-line::before, .mobile__hamburger-line::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: absolute;
  left: 0;
}

.mobile__hamburger-line::before {
  bottom: 4px;
}

.mobile__hamburger-line::after {
  top: 4px;
}

.mobile__hamburger-text {
  text-transform: uppercase;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
}

@media only screen and (min-width: 79.375em) {
  .mobile {
    display: none;
  }
}

.mobile__content {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .2s, visibility .2s;
  transition: opacity .2s, visibility .2s;
  width: 80%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__close-btn {
  width: 15px;
  height: 1px;
  background-color: #000;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.mobile__close-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.mobile__list {
  list-style: none;
}

.mobile__element {
  margin: 2rem 0;
}

@media only screen and (min-aspect-ratio: 71 / 70) and (max-height: 22.8125em) {
  .mobile__element {
    margin: 1rem 0;
  }
}

.mobile__link, .mobile__link:link, .mobile__link:visited {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.mobile__link:hover, .mobile__link:link:hover, .mobile__link:visited:hover {
  color: #15D0AC;
}

@media only screen and (min-aspect-ratio: 71 / 70) and (max-height: 29.375em) {
  .mobile__link, .mobile__link:link, .mobile__link:visited {
    font-size: 1.6rem;
  }
}

.mobile__link--highlighted, .mobile__link--highlighted:link, .mobile__link--highlighted:visited {
  color: #15D0AC;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.mobile__link--highlighted:hover, .mobile__link--highlighted:link:hover, .mobile__link--highlighted:visited:hover {
  color: #BFE428;
}

.mobile__buttons {
  width: 33rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile__buttons .btn--transparent {
  color: #000;
}

/* CHECKBOX HACK */
.mobile__checkbox:checked ~ .mobile {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.mobile__checkbox:checked ~ .mobile .mobile__content {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .2s .3s, visibility .2s .3s;
  transition: opacity .2s .3s, visibility .2s .3s;
}

.section-cards {
  position: relative;
}
/*# sourceMappingURL=style.css.map */