.header {
    height: 60rem;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/header-small.png);
    background-size: cover;
    background-position: center 70%;

    @include respond(res-bg) {
        background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/header.png);
    }

    &__content {
        width: 80%;
        margin: 10rem auto;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include respond(phone) {
            margin: 6rem auto;
        }
    }

    &__text {

        .heading-6 {
            margin: 3rem 0;
        }
    }
}