/* LOGO COMPONENT */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16.5rem;

    &__image {
        max-width: 3.5rem;
    }

    &__text {
        color: #fff;
        font-size: 2rem;
    }

    &--black &__text {
        color: #000;
    }

    &--gray &__text {
        color: $color-gray-2;
    }
}

/* SEPARATOR COMPONENT */
.separator {
    width: 1px;
    height: 1.6rem;
    background-color: $color-gray;
    margin: 0 2.5rem;
}

/* PHONE NUMBER */
.phone-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12rem;
    font-size: 1.4rem;

    &__text {
        color: #fff;
    }

    &--black &__text {
        color: #000;
    }
}

/* SLIDER */
.slider {
    width: 10rem;
    height: 10rem;
    border: 1px solid;
    border-color: $color-primary-dark $color-gray $color-gray $color-gray;
    border-radius: 50%;
    transform: rotate(45deg);

    display: flex;
    justify-content: center;
    align-items: center;

    &__numbers {
        transform: rotate(-45deg);
    }

    &__current {
        color: $color-primary-dark;
        font-size: 3.5rem;
        font-weight: 300;
    }

    &__total {
        color: #fff;
    }
}

/* LINKS BAR */

.links-bar {
    background-color: $color-gray-light;

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-evenly;

        @include respond(phone) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__element {
        margin: 2.5rem 0;
    }

    &__link,
    &__link:link,
    &__link:visited {
        text-decoration: none;
        color: inherit;
        font-size: 1.3rem;
        transition: color .3s;

        &:hover {
            color: $color-primary-dark;
        }
    }
}