/* LOGO COMPONENT */
.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;

    &__image {
        max-width: 4.5rem;
    }

    &__text {
        color: #fff;
        font-size: 2.4rem;
    }
}

/* SEPARATOR COMPONENT */
.separator {
    width: 1px;
    height: 1.6rem;
    background-color: #7D7C78;
    margin: 0 2.5rem;
}

/* PHONE NUMBER */
.phone-number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 13rem;

    &__text {
        color: #fff;
    }
}