*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: calc((0.0031319356168835 * 100vw) + 5.9865946249801px);
    /*
        1920, 12
        1520, 10.75
        1120, 9.5
        729, 8.25
        320, 7
    */
    
    /* This curve has a medium of 9.5px and is an experimental attempt
    to make the root font size fluidly responsive instead of making
    it change with media queries at certain breakpoints. */
    //font-size: calc((0.0033333333333333 * 100vw) + 5.6px);
}

body {
    font-size: 1.6rem; //I make calculations as if the root size would always be 10px.
    font-family: 'Metropolis', sans-serif;
    color: $color-text;
}